<personal-info>
	<h2>Step 1 - Fill in the fields bellow</h2>

	<form name="personalForm" novalidate action="form-horizontal">
		<fieldset class="form-group">
			<label class="col-sm-1 control-label" for="name">Name:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="name" ng-model="personal.user.name" required>
			</div>
		</fieldset>

		<fieldset class="form-group">
			<label class="col-sm-1 control-label" for="email">Email:</label>
			<div class="col-sm-8">
				<input class="form-control" type="email" id="email" ng-model="personal.user.email" required>
			</div>
		</fieldset>

		<fieldset class="form-group">
			<label class="col-sm-1 control-label" for="phone">Phone:</label>
			<div class="col-sm-8">
				<input class="form-control" type="tel" id="phone" ng-model="personal.user.phone" placeholder="1 000 000-0000">
			</div>
		</fieldset>

		<fieldset class="form-group">
			<label class="col-sm-1 control-label" for="address">Address:</label>
			<div class="col-sm-8">
				<input class="form-control" type="text" id="address" ng-model="personal.user.address" required>
			</div>
		</fieldset>
	</form>

	<footer class="form-group">
		<button class="btn btn-primary" type="button" ng-disabled="personalForm.$invalid" ng-click="personal.forward()">Next</button>
	</footer>
</personal-info>

