<shipping>
    <h2>Step 2 - Shipping details</h2>

    <form name="shippingForm" novalidate action="form-horizontal">
        <fieldset>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="ship.user.shippingType" value="normal" ng-change="ship.updateModel()">
                    Normal: $3.00
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="ship.user.shippingType" value="express" ng-change="ship.updateModel()">
                    Express: $8.00
                </label>
            </div>

            <div class="radio">
                <label>
                    <input type="radio" ng-model="ship.user.shippingType" value="oneDay" ng-change="ship.updateModel()">
                    1-day shipping: $16.00
                </label>
            </div>
        </fieldset>
    </form>

    <footer class="form-group">
        <button class="btn btn-default" type="button" ng-click="ship.back()">Back</button>
        <button class="btn btn-primary" type="button" ng-disabled="shippingForm.$invalid" ng-click="ship.forward()">Next</button>
    </footer>
</shipping>